asttokens
backcall
backports.zoneinfo
blinker
certifi
charset-normalizer
click
comm
contourpy
cycler
dash==2.18.0
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash_ag_grid
dateparser
decorator
dill
executing
Flask
fonttools
idna
imageio
importlib_metadata
importlib_resources
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jupyterlab_widgets
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numba
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
plotly
prompt_toolkit
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
retrying
schedule
scikit-learn
scipy
six
stack-data
tenacity
threadpoolctl
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
vectorbt
wcwidth
Werkzeug
widgetsnbextension
zipp
